* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}


.header {
    background-color: aquamarine;
    width: 100%;
    /* height: 100vh; */
    height: 100px;
}

.nav {
    background-color: rgb(22, 120, 255);
    width: 100%;
    height: 80px;
}


.section {
    background-color: #ff9922;
    /* 000000 - black
    ffffff - white */
    width: 100%;

}


.footer {
    background-color: rgba(200, 150, 55, 0.5);
    width: 100%;
    height: 100px;
    clear: both;
    background: linear-gradient(90deg, blue, red);
}

.left {
    width: 30%;
    background-color: aqua;
    float: left;
    min-height: 400px;
    height: auto;
    max-height: 600px;
}

.right {
    width: 70%;
    background-color: transparent;
    float: right;
    min-height: 400px;
    height: auto;
    max-height: 600px;
    background-color: chartreuse;
}


.wa-icon {
    width: 80px;
    height: auto;
    position: absolute;
    right: 0px;
    top: 20px;
    /* top/bottom - left/right */
}

.wa-icon2 {
    width: 80px;
    height: auto;
    position: fixed;
    right: 0px;
    bottom: 20px;
    /* top/bottom - left/right */
}


/* header {

}

#header {

}


tag selector
id selector
class selector */

/* bit - register

rgb - red, green, blue (00--FF, 00--FF, 00--FF) - 0-255X0-255X0-255 = 256x256x256
cmyk */

/* how to hide an element */
/* display - none
opacity - 0
visibility - hidden */

.button4 {
    /* opacity: 0; */
    /* visibility: hidden; */
    display: none;
}



/* horizontally and vertically center */
.center-content {
    background-color: coral;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50% - 50px);
}

.nav button {
    padding: 20px 20px 20px 20px;
    /* top right bottom left */
    background-color: #ff9922;
    border-radius: 10px;
    margin-right: 20px;
    padding-right: 100px;
}


ul li {
    font-size: 20px;
}




/* specificity rule
 media queries
 flex */

/* Rule 1 - inline css > same page css > external css
Rule 2 - css written at the end will be final
Rule 3 - Specificity Rule (when selectors are different)
Rule 4 - !important
Rule 5 - media query > normal css*/

/* id - 100
class - 10
tag - 1 */

#right.right.abc.def.xyz .right-content p {
    color: blue;
    font-size: 3rem;
}


.right-content p {
    color: red;
    font-size: 2rem;
}



.right .right-content p {
    color: green;
    font-size: 6rem !important;
}



/* Media Query */
/* mobile - 0 to 768
tab - 768 to 1200
desktop - 1220 onwards */

.right-box {
    width: 16%;
    background: coral;
    margin: 2px;
    float: left;
    height: 50px;
}


@media only screen and (max-width: 768px) {
    .right-box {
        width: 45%;
        background: rgb(32, 165, 170);
        height: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .right-box {
        width: 23%;
        background: rgb(85, 231, 56);
        height: 50px;
    }
}

/* 
.row {

}
.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33%;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-4 {
        width: 33.33%;
    }
} */